<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location and Vehicle Type</title>
    <link rel="stylesheet" href="loc_style.css">
</head>
<body>
    <div class="location-container">
        <h1>Location and Vehicle Type</h1>
        <form d = "location page"
        th:action="@{/payments}"
        th:object="${slotTypesAndPricesList}">
        <input type="hidden" name="loc-code" th:value="${slotTypesAndPricesList[0].locCode}" /> 
            <div class="form-group">
                <label for="vehicle-type">Vehicle Type:</label>
                <select id="vehicle-type" name="vehicle-type">
                    <option value="default" selected disabled>Select Vehicle Type</option>
                    <option th:each="slot : ${slotTypesAndPricesList}" th:value="${slot.vehType}" th:text="${slot.vehType}"></option>
                </select>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
